@font-face {
  font-family: "Droid Sans";
  font-weight: normal;
  src: font-url("DroidSans.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  src: font-url("DroidSans_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: normal;
  src: font-url("DroidSerif.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: bold;
  src: font-url("DroidSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: normal;
  src: font-url("DroidSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: bold;
  src: font-url("DroidSerif-BoldItalic.ttf") format("truetype");
}