form {
  .fields {
    display: table;
    border-collapse: collapse;
    width: 100%;
    
    &.hidden {
      display: none;
    }
  
    .field {
      display: table-row;
      margin: 0;
      padding: 0 0 0.2em 0;
      &.hidden {
        display: none;
      }
  
      > * {
        display: table-cell;
        vertical-align: baseline;
        margin: 0;
      }
      > label {
        padding: 0 0.8em 0 0;
        text-align: right;
      }
      > .value {
        padding: 0 0 0.4em 0;
        > .field_with_errors {
         display: block;
        }
      }
      > .comment {
        padding: 0 0 0 0.5em;
      }
      
      input, textarea {
        font-size: inherit;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      input[type=radio], input[type=checkbox] {
        width: auto;
      }
    }
  }
  
  .action {
    margin: 0;
    padding: 0;
    text-align: center;
    
    input[type=submit], input[type=button], button {
      min-width: 7em;
    }
  }
}