<h4>Trials results</h4>
<% if trials %>
  <% trials.reverse_each do |trial| %>
    <li>
      <%= link_to trial.name, "#{project_trial_url trial.project, trial}.html", 
                  'data-trial-href' => "#trial-#{trial.id}" %>
      <%= content_tag :span, 'Remove tab', :class => 'ui-icon ui-icon-close',
          :title => 'Delete' %>
    </li>
  <% end %>
<% end %>
