<section id="confusion-matrix">
<h5>Confusion matrix</h5>
<table >
  <thead>
    <tr>
      <td>Classified as =></td>
      <% 1.upto(matrix.size) do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% matrix.each_with_index do |r, i| %>
      <tr>
        <td><%= "#{datum.class_values[i]} = #{i + 1}" %></td>
        <% r.each_with_index do |c, j| %>
          <%= content_tag :td, "#{c.size}",
              :class => "result #{cell_class i, j, c.size }",
              'data-matrix-examples' => data_examples_str(trial, c),
              'data-matrix-classes' => classes_str(datum, i, j) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
<section class="classified-examples"></section>