<h5>Predicted classification</h5>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>prediction</td>
      <% trial.selected_features.each do |i| %>
        <td> <%= trial.datum.features[i][:name] %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% trial.test_datum.examples.each do |example| %>
      <% exampleID = example[0].to_i %>
      <% predNumber = output[:result][exampleID][:predicted].to_i %>
      <% predClass = trial.datum.class_values[predNumber - 1] %>
      <tr>
        <td><%= exampleID %></td>
        <td><%= predClass %></td>
        <% trial.selected_features.each do |i| %>
          <td><%= example[i] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>