<h1>New trial</h1>

<%= render 'form' %>

<h2>Data content</h2>
<div id="data_content"></div>
<h2>Result</h2>
<% @result.each do |line| %>
  <p><%= line %></p>
<% end %>
<%= link_to 'Back', trials_path %>
