.main.tutorials-index {
  h3 {
    margin-top: 0.8em;
  }
  
  summary {
    padding: 0 2em;
  }
  
  li {
    padding: 1em 0;
    
  }
}

.sidebar {
  h2.tips {
    color: $highlight-color;
  }
  
  li {
    padding: 0.5em 0;
  }
  
  h3 {
    font-size: $h4-font-size;
  }
  
  summary {
    padding: 0 1.5em;
  }
}

.projects-index {
  margin-top: 1em;

  
  li {
    padding: 0.5em;
    @include border-radius($radius);
    width: 23em;
    
    h3, h3 > a {
      display: inline-block;
      width: 10em;
    }
    div.actions {
      display: inline-block;
      margin-left: 3em;
    } 
  }
    
  li:nth-child(odd) {
    background: $table-background;
  }    
}

.sidebar, .main {
  .ui-icon-lightbulb + p {
    margin: 18px;
  }
}
