article#tutorial {
  width: $tutorial-width;
  padding: 0 $column-margin $column-margin * 2 $column-margin;
  margin: 0 $column-margin;
  @include box($orient: vertical);
  
  #tutorial-sections {
    padding: 0.5em 0;
    @include box-flex(1);  
  }
  
  h1 {
    font-size: $h4-font-size;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: $h5-font-size;
    margin: 0 0 1em 0;
    color: $highlight-color;
  }
  
  nav {
    font-size: 11pt;
    
    ul {
      height: 1.5em;
      margin: 0.5em 0;
    }
    li:first-child {
      float: left;
    }
    
    li:last-child {
      float: right;
    }
    
    li { 
      margin: 0.1em 0;
    }
    
    a span.ui-button-text {
      width: 75px;
      @include box-sizing(border-box);
      color: $link-color;
    }
    a.ui-button-text-icon-secondary span.ui-button-text {
      
      padding: 0.1em 1.8em 0.1em 0.5em;
    }
    
    a.ui-button-text-icon-primary span.ui-button-text {
      padding: 0.1em 0.5em 0.1em 1.8em;
    }
  }
}
