<article class="main">
  <section>
    <h2>About ProtoM</h2>
    <p>
      ProtoM is built on top of <%= link_to 'Weka', 'http://www.cs.waikato.ac.nz/ml/weka/'%>, 
      an open source platform for machine learning and data mining built at the University of Waikato.
      For more information, please visit the Weka
      <%= link_to 'download page', 'http://www.cs.waikato.ac.nz/ml/weka/index_downloading.html'%>
      or read the original paper:
    </p>
    <p>
      Mark Hall, Eibe Frank, Geoffrey Holmes, Bernhard Pfahringer, Peter Reutemann, Ian H. Witten (2009); The WEKA Data Mining Software: An Update; SIGKDD Explorations, Volume 11, Issue 1.
    </p>
    <a href="http://www.cs.waikato.ac.nz/ml/weka/"><%= image_tag 'weka-logo.png', :id => 'weka-image' %></a>
  </section>
  <section>
    <h3>ARFF data format</h3>
    <p>
      To upload your own data sets to ProtoM, you need to format your data files 
      according to WEKA's <a href="http://weka.wikispaces.com/ARFF">ARFF</a> 
      data format, with '.arff' as the file extension. The first attribute of 
      the relation has to be ID numeric.
    </p>
    <p>
      You can find an example of a valid ARFF file 
      <%= link_to 'here', '/tweet-sentiment-example.arff' %>.
  </section>
</article>
<article class="sidebar">
  <h2>Contact</h2>
  <p>
    For any questions, requests or comments, please contact us at <a href="mailto:protom.web@gmail.com">protom.web@gmail.com</a>
  </p>
</article>  

