<div id="about">
  <article class='main'>
    <h2>About ProtoM</h2>
    <p>
      ProtoM is built on top of <%= link_to 'Weka', 'http://www.cs.waikato.ac.nz/ml/weka/'%>, 
      an open source platform for machine learning and data mining built at the University of Waikato.
      For more information, please visit the Weka
      <%= link_to 'download page', 'http://www.cs.waikato.ac.nz/ml/weka/index_downloading.html'%>
      or read the original paper:
    </p>
    <p>
      Mark Hall, Eibe Frank, Geoffrey Holmes, Bernhard Pfahringer, Peter Reutemann, Ian H. Witten (2009); The WEKA Data Mining Software: An Update; SIGKDD Explorations, Volume 11, Issue 1.
    </p>
    <a href="http://www.cs.waikato.ac.nz/ml/weka/"><%= image_tag 'weka-logo.png', :id => 'weka-image' %></a>
    <h2>Contact</h2>
    <p>
      For any questions, requests or comments, please contact us at <a href="mailto:protom.web@gmail.com">protom.web@gmail.com</a>
    </p>
  </article>
</div>

