<div class=""><%=image_tag('preview.png')%></div>

<div id="welcome">
  <h1>Learn</h1>

  <p> What is machine learning?  How can it be useful to you?  ProtoM can help you find the answers to these questions and more! </p> 

  <h1>Test</h1>

  <div> Got a project that needs that special machine learning-touch?  Look no further!  ProtoM is the perfect tool to test out new projects and determine which classifier is right. </div> 

  <h1>Contribute!</h1>

  <div> Advance the fields of research!  See how machine learning can help your project.  This is a <a href="fsf.org">Free Software</a> project, so please contribute! </div> 

  <%= link_to 'Try it out', new_project_path, :class => :button %>
</div>
