<% unless valid_email? @email %>
  <span class="error-text">invalid email</span> 
<% else %>
  <% if @user %>
    <span class="error-text">taken</span>
  <% else %>
    <%= ok_image_tag %>
  <% end %>
<% end %>