<article id="tutorials-index">
  <h2>Tutorials</h2>
  
  <ul>
    <% tutorials.each do |tutorial| %>
      <li><h3><%= link_to "#{tutorial.name}", tutorial %></h3></li>
    <% end %>
  </ul>
</article>
