<article id="tutorial">
  <h1><%= @tutorial.title %></h1>
  <div id="tutorial-section">
    <%= render 'sections/show', :section => @tutorial.sections.first %>
  </div>
</article>
<%= render 'projects/edit', :trial => Trial.new, :project => Project.new %>

