<%= section.content.html_safe %>
<div id="section-nav">
  <% if section.prev %>
    <%= link_to 'prev', tutorial_section_path(section.tutorial, section.prev) %>
  <% end %>
  <% if section.next %>
    <%= link_to 'next', tutorial_section_path(section.tutorial, section.next) %>
  <% end %>
</div>
