<h2>Projects</h2>

<%= link_to 'New Project', new_project_path, :class => :button %> 

<ul>
  <% projects.each do |project| %>
    <li>  
      <h3><%= link_to "#{project.name}", edit_project_path(project) %></h3>
      <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
    </li>
  <% end %>
</ul>

