<section id="current-project">
  <ul id="project-nav">
    <li><a href="#current_trial">Current trial</a></li>
    <%= render 'trials/index', :trials => @project.trials %>
  </ul>
  <%= render 'trials/form', :trial => @project.trials.build, 
                            :project => @project %>
</section>
