<section id='data-summary'>
  <h5>Summary</h5>
  <table class="summary">
    <tbody>
      <tr>
        <td>Number of examples:</td>
        <td>Number of features:</td>
        <td>Class label:</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="data-tabs">
  <ul>
    <li><a href="#data-tabs-examples">Examples</a></li>
    <li><a href="#data-tabs-features">Features (histograms)</a></li>
  </ul>
  <div>
  <div id="data-tabs-examples">
    <ul></ul>
  </div>
  <div id="data-tabs-features">
    <p>Selected features are used for training and testing.</p>
    <ul></ul>
  </div>
</section>
