<div id="data-tabs">
  <ul>
    <li><a href="#data-tabs-table">Table</a></li>
    <li><a href="#data-tabs-histogram">Histogram</a></li>
  </ul>
  <div id="data-tabs-table">
    Table
  </div>
  
  <div id="data-tabs-histogram">
    Histogram
  </div>
</div>
