<div id="data-tabs">
  <ul>
    <li><a href="#data-tabs-histogram">Histogram</a></li>
    <li><a href="#data-tabs-table">Table</a></li>
  </ul>
  <div id="data-tabs-histogram"></div>
  <div id="data-tabs-table"></div>
</div>
