<section id='data-summary'>
</section>
<section id="data-tabs">
  <ul>
    <li><a href="#data-tabs-features">Features</a></li>
    <li><a href="#data-tabs-table">Table</a></li>
  </ul>
  <div id="data-tabs-features">
    <ul></ul>
  </div>
  <div id="data-tabs-table"></div>
</section>
