<section id='data-summary'>
  <h5>Summary</h5>
  <table class="summary">
    <tbody>
      <tr>
        <td colspan="3">
          Relation: 
        </td>
      </tr>
      <tr>
        <td>Examples:</td>
        <td>Features:</td>
        <td>Class:</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="data-tabs">
  <ul>
    <li><a href="#data-tabs-examples">Examples</a></li>
    <li><a href="#data-tabs-features">Features</a></li>
  </ul>
  <div>
  <div id="data-tabs-examples">
    <ul></ul>
  </div>
  <div id="data-tabs-features">
    <ul></ul>
  </div>
</section>
