<div id="data-tabs">
  <ul>
    <li><a href="#data-tabs-table">Table</a></li>
    <li><a href="#data-tabs-histograms">Histograms</a></li>
  </ul>
  <div id="data-tabs-table">
    Summary
  </div>
  
  <div id="data-tabs-histograms">
    Histogram
  </div>
</div>
