#signup-form {
  width: $signup-form-width;
  margin: auto;
  border: 1px solid $border-color;
  padding: 1em 1em 2em 1em;
  @include border-radius($radius);
  @include box-shadow(0px 0px 10px $border-color);
  background: white;
 
  h2 {
    @include box-sizing(border-box);
    width: $signup-label-width; 
    text-align: right;
    padding-right: $label-right-padding;
    margin-bottom: 1em;
  }
  
  form {
    .fields .field { 
      label, > .value, > .comment {
        @include box-sizing(border-box);
      }
      label {
        line-height: 1.6em;
        width: $signup-label-width;
      }
      
      > .comment {
        width: $signup-comment-width;
        color: $error-color;
      }
    }
      
    > .actions {
      padding-left: $signup-label-width;
    }
  }
}

