#signup-form {
  width: $signup-form-width;
  margin: auto;
 
  form .fields .field { 
    > label {
      line-height: 1.6em;
    }
    
    > .value {
      width: $signup-value-width;
    }
  
    > .comment {
      width: $signup-comment-width;
      color: $error-color;
    }
  }
}
