$page-columns: 32;
$sidebar-columns: 12;

// Import layout vars from pwnstyles.
@import 'vars/layout_sizes.css.scss';

// Generic
$radius: 4px;
$label-right-padding: 11px;
$content-wrapper-top-padding: 20px;
$sidebar-width: $column-total * $sidebar-columns - $column-margin * 3;

// Signup form
$signup-form-width: $column-total * 13 - $column-margin;
$signup-value-width: $signup-form-width * 0.4;
$signup-comment-width: $signup-form-width * 0.25;
$signup-label-width: $signup-form-width * 0.35;

// Project trial
$run-button-size: 70px;
$project-nav-width: $column-total * 4 - $column-margin;
$tab-margin: 5px;

// Tutorial
$tutorial-width: $column-total * 10 - $column-margin;

// Status bar
$status-bar-width: $page-width / 2;

// Project and tutorial indices
$index-width: $column-total * 20 - $column-margin;
