#workflow-tabs {
  position: static;
  border: none;
  background: none;
  @include box;  

  > nav, > article {
    margin: 0;
    padding: 0;
    
    button {
      display: block;
      margin: auto;
      width: $run-button-size;
    }
    
    > ul.ui-tabs-nav {
      border: none;
      padding: 0;
      
      li {
        @include border-radius(0);
        clear: both;
        border: none;
        width: 100%;
        
        a {
          float: right;
        }
      }
    }
  }
  
  > article {
    width: 70%;
  }
  
  > nav {
    background: $trial-nav-background-color;
  }
  
  table {
    margin: auto;
    width: 50%;
  }
  
}

.ui-tabs-nav.ui-widget-header {
  @include border-radius(0);
  border-bottom: 1px solid $ui-state-default-border-color;
}

