#current-project {
  position: static;
  border: none;
  background: none;
  @include box-flex(1);
  @include box;  
  
  > ul {
    margin: 0;
    padding: 0;
    
    button {
      display: block;
      margin: auto;
      width: $run-button-size;
    }
    
    > li {
      @include border-radius($radius);
      clear: both;
      border: none;
      width: $project-nav-width - $column-margin;
      margin: $tab-margin $tab-margin;
      
      a {
        float: right;
        font-size: $h6-font-size;
      }
    }

    > h4 {
      text-align: right;
      font-size: inherit;
      padding: 0.5em 1em;
      margin-top: 40px;
    }
    
  }
  
  > ul {
    background: $trial-nav-background-color;
    width: $project-nav-width;
    margin-right: $column-margin;
    border: 0;
  }
  
  .ui-tabs.ui-tabs-panel {
    padding: $tab-margin 0;
    margin-right: $column-margin;
  }
}

#current-trial {
  @include box-flex(1)
}

#data-summary {
  height: 75px;
  margin: 1em 0;
  
  h5 {
    background: $table-background;
    margin: 0;
    border: {
      bottom: 2px solid $table-border;
      top: 1px solid $table-border;
    }
    padding: 0.2em 0;
  }
  
  table {
    width: 100%;
  }
  
  tr:nth-child(even) {
    background: $table-background;
  }
  
  tr {
    border: {
      top: 1px solid $table-border;
      bottom: 1px solid $table-border;
    }
  }
}

.ui-tabs-nav.ui-widget-header {
  @include border-radius(0);
  border-bottom: 1px solid $ui-state-default-border-color;
}

#data-tabs {
  a {
    font-size: $main-font-size;
  }
  
  .ui-state-active {
    background: white;
    border-color: $data-tab-active-border-color;
    
    a {
      color: $h1-text-color;
    }
  }
}

