#current-project {
  position: static;
  border: none;
  background: none;
  @include box;  

  > ul, > form {
    margin: 0;
    padding: 0;
    
    button {
      display: block;
      margin: auto;
      width: $run-button-size;
    }
    
    > li {
      @include border-radius($radius);
      clear: both;
      border: none;
      width: 100%;
      
      a {
        float: right;
      }
    }

    > h4 {
      text-align: right;
      font-size: inherit;
      padding: 0.5em 1em;
      margin-top: 40px;
    }
    
  }
  
  > form {
    width: 70%;
  }
  
  > ul {
    background: $trial-nav-background-color;
    width: $project-nav-width;
    margin-right: $column-margin;
  }
  
  table {
    margin: auto;
    width: 50%;
  }
  
}

.ui-tabs-nav.ui-widget-header {
  @include border-radius(0);
  border-bottom: 1px solid $ui-state-default-border-color;
}

