table.summary {
  td:first-child {
    font-weight: bold;
  }
}

table#confusion-matrix {
  border-spacing: 0.2em;
  border-collapse: separate;
  
  td:first-child {
    text-align: right;
  }
  
  td {
    text-align: center;
    vertical-align: middle;
    min-width: 26px;
    min-height: 26px;
  }
  
  .result-yes {
    background: $result-yes-color;
    color: white;
    font-weight: bold;
  }
  
  .result-no {
    background: $main-color3;
    color: white;
    font-weight: bold;
  }
  
  .result-none {
    background: $table-background;
  }
}
