<nav>
  <p class="copyright">
    &copy; Copyright 2012
    <a href="#">ProtoM</a>
  </p>
	<ul>
		<li>
      | <%= link_to 'About', about_session_path  %>
      | <%= link_to 'Contact', about_session_path  %>
		</li>
	</ul>	
	| <strong>Note to users:</strong> This early version of the site only works with Google Chrome.	
</nav>
