<nav>
	<ul>
		<li>
      <a href="#">Footer Link</a>
      <a href="#">Footer Link</a>
			<a href="#">Footer Link</a>
		</li>
	</ul>		
  <p class="copyright">
    &copy; Copyright 2011
    <a href="#">someone</a>
  </p>
</nav>
