<nav>
	<ul>
		<li>
      <a href="#">Footer Link</a>
      <a href="#">Footer Link</a>
			<a href="#">Footer Link</a>
		</li>
	</ul>		
  <p class="copyright">
    <%= link_to image_tag('cc_by_nd.png', :alt => 'Creative Commons License'),
                'http://creativecommons.org/licenses/by-nd/3.0/us/' %>
    &copy; Copyright 2011
    <a href="#">someone</a>
  </p>
</nav>
